.navbar{
    border-radius: 8px 0 0 8px;
    background-color: #112240;
    position: fixed;
    z-index: 2;
}
#home{
    color: rgb(88, 162, 191);
    /* color:rgb(113, 237, 154); */
    font-size:3vh;
    font-weight: bold;
}
#back{
    color: rgb(64, 135, 55);
    font-size: 3vh;
    font-weight: bold;
}
#Search{
    color: #ffffff;
    font-size: 3vh;
    font-weight: bold;

}

    