<div class="col-md-12 d-flex justify-content-end mt-3 py-2">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="home" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id ="Search"href="#">Search </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id ="back"href="#">Back To Top</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
