img{
    width: 40%;
    border-radius: 50%;
    border: 2px dashed rgb(8, 23, 54);
   
    
}
#ul{
    list-style-type:none;
}
.lists{
    display: flex;
    /* flex-direction: column; */
    

}
#name{
    color: rgb(8, 23, 54);
    font-weight: bold;
}
#profile{
    /* position: fixed; */
    margin:10% 0 0 0;
    border-left: 1.5px solid rgb(8, 23, 54);
}
.card-footer a{
    text-decoration:none;
}
.Header .header{
    color: rgb(8, 23, 54);
    font-size:6vh;
    font-weight:bold;
    margin-right: 1%;
}
.header2{
    color: rgb(64, 135, 55);
    font-size:6vh;

}
.col-md-8{
    
}
#twitter{
    color:  rgb(30, 161, 242);
    margin-right: 1%;
}
#tweet a{
    color: rgb(8, 23, 54);
    text-decoration: none;
}