.col-md-6{
    margin: 0 auto;
}
#heading{
    color: rgb(8, 23, 54);;
}
.form-group .sr-only{
    color: rgb(8, 23, 54);
}
.form-group input{
    border-radius: 20px;
    height: 8vh;
    /* outline: 0.5px solid rgb(64, 135, 55); */
    outline: none;
    border: none;
    border-bottom: 1.5                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      px solid rgb(64, 135, 55);
    /* box-shadow:0.2px 0.1px 5px black; */



}
.btn{
    outline: 0.5px solid rgb(8, 23, 54);
    border:none;
    color: rgb(8, 23, 54);
    border-radius: 20px;
    font-weight: bold;
    width: 50%;  
}
.btn:hover{
    background-color: rgb(8, 23, 54);
    color: rgb(64, 135, 55);
}