/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto+Mono&display=swap');

*{
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}